/* Snuggle-specific */
.snuggle {
  --Colour-Banner-Background: #ffe4b2;

  --Colour-Background-Default: #fff6e6;
  --Colour-Background-Shelter: #edfaf8;

  --Colour-Font-Shelter: #10a196;
  --Colour-Font-Adopter: #ffa705;
}

.banner {
  background: var(--Colour-Banner-Background);
}

.title {
  border-bottom: 4px solid #ffe6b4;
}

.project-specs {
  background: var(--Colour-Background-Default);
}

.card {
  background: var(--Colour-Background-Default);
}

.card.shelter {
  background: var(--Colour-Background-Shelter);
}

.card.adopter {
  background: var(--Colour-Background-Default);
}

.card.before {
  background: var(--Colour-Background-Neutral);
}

.shelter h6 {
  color: var(--Colour-Font-Shelter);
}

.adopter h6 {
  color: var(--Colour-Font-Adopter);
}

.center h6 {
  align-self: stretch;
  text-align: center;
}

.pain-point-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.pain-point {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  aspect-ratio: 1/1;
}
